.surpric{
    margin-top: 40px;
}
.surpric .content{
display: flex;
flex-direction: column;
gap: 20px;
}
.surpric .content .box{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #332941;
border-radius: 10px;
height: 70px;
width: 100%;
padding: 20px;
}
.surpric .content .box .image{
width: 45px;
height: 45px;
}
.surpric .content .box .image img{
width: 100%;
height: 100%;
}
.surpric .content .box .info{
display: flex;
align-items: center;
justify-content: space-between;
gap: 5px;
color: #f1c51a;

}
.surpric .content .box .info h4{
font-size: 25px;
font-weight: 900;
}
.surpric .content .box .info .doller{
font-size: 15px;
background-color: #f29e07;
width: 23px;
height: 23px;
border-radius: 50%;
border: 3px solid #f1c51a;
line-height: 20px;
text-align: center;

}
.surpric .content .box .info .dot{
width: 10px;
height: 10px;
border-radius: 50%;
background-color: #08cc6a;
}
.surpric .boxsale{
    display: flex;
    flex-direction: column;
    background-color: #332941;
    border-radius: 10px;
    padding: 10px;
    min-height: 30%;
    gap:15px
}
.surpric .boxsale h5{
    color: #beb7c7;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    margin-top: 10px;


}
.surpric .boxsale .MainBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:5px;
}
.surpric .boxsale .MainBox .maingaimbox{
background-color: #332942;
width: 32%;
border: 1.5px solid black;
border-radius: 8px;
min-height: 120px;
}
.surpric .boxsale .MainBox .maingaimbox .gambox{
width: 100%;

}
.surpric .boxsale .MainBox .gambox{
 /* border: 1px solid black; */
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: start;
 border-radius: 6px;

 margin-bottom: 6px;
padding: 10px 5px;
 background-color: #241c31;
 gap: 9px;
padding-bottom: 3px;
position: relative;
}
.surpric .boxsale .MainBox .box{
    background-color: #4f455e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 60px; */
    border-radius: 6px;
    box-shadow:0px 3px 0px #433952;
  position: relative;
  z-index: 11;
 
}
.surpric .boxsale .MainBox .gambox::before{
    content: "";
    position: absolute;
    width: 95%;
    height: 23px;
    background: #322a3f;
   top: 4px;
    z-index: 1;
border-radius: 6px;
}

.surpric .boxsale .MainBox .gambox .image{
    width: 45px;
    height: 45px;

}
.surpric .boxsale .MainBox .gambox .boximg{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 65px;
  height: 65px;
}

.surpric .boxsale .MainBox .gambox .image img{
    width: 100%;
    height: 100%;

}

.surpric .boxsale .MainBox .gambox .boxtext{
 font-size: 13px;
width: 100px;
color: #f1c51a;
}

.surpric .boxsale .MainBox .gambox p{
margin: 0;
  }
.surpric .boxsale .MainBox .gambox .info{
color: white;
background-color: #4f455e;
font-size: 8.5px;
font-weight: 600;
border-radius: 5px;
text-transform: capitalize;
padding:4px 1px;
width: 100%;
text-align: center;
  }
  .surpric .boxsale .MainBox .gambox .info a{
    color: white;
  }
.surpric .boxsale .MainBox .gambox .active_1{
background-color: #f1c51a;
  }
.surpric .boxsale .MainBox .gambox .active_2{
background-color: #08cc6a;
border: 1px solid white;
  }


  .surpric .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 113;
  }
  .surpric .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .surpric .popup {
    margin: 70px auto;
    padding: 40px 10px;
    background-color: #322a3f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    transition: all 2s ease-in-out;
    /* height: 55%; */
    top: 45%;
    transform: translateY(-50%);
   
  }
  .surpric .popup .close {
    position: absolute;
    top: 0px;
    right: 10px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #eee;
  }

  .salespop .contentpop{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 10px;
    position: relative;
    z-index: 11;
    overflow: auto;
  }

  .salespop .contentpop .boxpop{
   
    border: 1.5px solid;
text-transform: capitalize;
 /* position: relative; */
 /* z-index: 111; */
 border-radius: 10px;
 background-color: #433b52;
  }
  .salespop .contentpop .boxpop .inset{
 /* box-shadow: 0px 4px 0px red; */
 background-color: #4f455e;
 padding: 15px 0px;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 gap: 10px;
 margin-bottom: 5px;
 border-bottom-left-radius: 14px;
 border-bottom-right-radius: 14px;
  }
  .salespop .contentpop .boxpop::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 40px;
        background: #3d334b;
       top: 5px;
        z-index: -11;
    border-radius: 13px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  }
  .salespop .contentpop .boxpop h3{
   
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 700;
    border-bottom: 1.5px solid black;
    padding-bottom: 5px;
  }
  .salespop .contentpop .boxpop p{
   
    text-align: center;
    color: #aeabb6;
    font-size: 12px;
    padding: 0 20px;
   padding-top: 10px;
  }
  .salespop .contentpop .boxpop p,
  .salespop .contentpop .boxpop h3,
  .salespop .contentpop .boxpop h2{
   margin: 0;
  }
  .salespop .contentpop .res{
    font-size: 27px;
    background-color: #08cc6a;
    font-weight: 900;
    width: 100%;
    padding: 10px;
    border: 1.5px solid white;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-transform: capitalize;
  }
  .salespop .contentpop .resSol{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .salespop .contentpop .resSol .imag{
width: 50px;
height: 50px;

  }
  .salespop .contentpop .resSol .imag img{
width: 100%;
height: 100%;

  }
  .salespop .contentpop .resSol .infopop{
color: #f1c51a;
font-weight: 900;
font-size: 34px;
margin: 0;
  }


